body {
    margin: 0;
    padding: 0;
    background-image: url('./bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.form-container {
    text-align: center;
    
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media query for screens smaller than 768px (Tablets) */
@media (max-width: 768px) {
    .form-container {
        max-width: 90%;
    }
}

/* Media query for screens smaller than 480px (Mobile Phones) */
@media (max-width: 480px) {
    .form-container {
        max-width: 100%;
        padding: 10px;
    }
}
